<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receituarios</title>
</head>
<body>
    <div class="main-container">
        <div class="pesquisa">
            <label for="busca-nome">Pesquisar:</label>
            <input type="text" name="busca-nome" value="Digite o nome do cliente">
        </div>
        <div class="painel">
            <div class="receituario">
                
            </div>
        </div>
    </div>
</body>
</html>