{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cad_cliente.css' %}">
    <title>Cadastro de cliente</title>
</head>
<body>
    <div class="main-container">
        <div class="nav-bar">
            <h1>Clientes</h1>
        </div>
        
        <div class="div-cbusca">
            <div id="card-busca">
                <div id="field-busca">
                    <label for="buscar">Buscar cliente: </label>
                    <input type="text" name="buscar" id="">
                </div>
                
                <div id="field-botao">
                    <button>Cadastrar cliente</button>
                </div>
            </div>
        </div>

        <div class="painel">
        </div>
    </div>
</body>
</html>