{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cad_cliente.css' %}">
    <title>Cadastro de cliente</title>
</head>
<body>
    <div class="main-container">
        <div class="nav-bar">
            <h1>Cadastro de cliente</h1>
        </div>
        <div class="painel">
            <form action="." method="POST">
                <label for="nome">Nome: </label>
                <input id="nome" type="text" value="Nome">

                <label for="telefone">Telefone: </label>
                <input id="telefone" type="text" value="Telefone">

                <label for="endereco">Endereço: </label>
                <input id="endereço" type="text" value="Endereço">

                <label for="email">E-mail: </label>
                <input id="email" type="text" value="E-mail">

                <label for="cpf">CPF: </label>
                <input id="cpf" type="text" value="CPF">

                <label for="data_nasc">Data de nascimento: </label>
                <input id="data_nasc" type="date" value="Data de nascimento">
            </form>
        </div>
    </div>
</body>
</html>