{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
    <title>Sua otica - Início</title>
</head>
<body>
    <div class="main-container">
        <div class="nav-bar">
            <h1>Otica Nordeste</h1>
        </div>
        <div class="painel">
            <button class="btn-painel">Cadastrar cliente</button>
            <button class="btn-painel">Cadastrar receituario</button>
            <button class="btn-painel">Buscar receituario</button>
        </div>
    </div>
</body>
</html>